<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="jumbotron text-center">
  <div class="container">
    <p class="gym-text">Welcome to our Fit Gym.</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
