<%- include('partials/header') %>
<%- include('partials/navbar') %>


<div class="jumbotron centered background-image">
  <div class="container ">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-3 text-white bg-dark">Fit Gym</h1>
    <p class="lead text-white bg-dark"><b>Register or login to know about us!</b></p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
