
body {
    background: url(../images/gym.jpg);
  }
  
  .centered {
      padding-top: 150px;
      text-align: center;
  }
 
  .gym-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
    margin-top: 200px;
  }
  